<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.1">
	
	<error-page>
		<error-code>500</error-code>
		<location>/error500.html</location>
	</error-page>

	<display-name>Comviva form</display-name>
	
	<session-config>
		<session-timeout>
			30
		</session-timeout>
	</session-config>
	
	<welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
</web-app>